/*font-family: 'Nunito', sans-serif;*/
/*9968B6 amethyst, 8F0037 claret 
52001E tyrian purple C4557E ruber. 
ffd6e6 mimi pink
https://coolors.co/9968b6-8f0037-52001e-bde0fe-a2d2ff*/

/*pongo la misma font para todo el sitio*/
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

/*header*/

header {
  background-color: #9968b670;
  padding: 16px 0;
}

header h1 {
  color: black;
  font-size: 35px;
  display: inline-block;
  position: relative;
  bottom: 40px;
  margin-left: 15px;
}



header img{
  width: 120px;
}
/*nav*/

nav {
  background-color: #8f4eb48c;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
  font-size: 16px;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

nav ul li a.activo {
  background-color: #9968B6;
  color: white;
}

/*fin nav*/

h2{
  color: #9968B6;
}

/*footer*/

footer {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

footer .datos{
  right: 20%;
  color: #333;
  padding: 5px;
  margin-top: 20px;
  align-self: center;
}

footer ul {
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

footer .botones {
  align-self: center;
  font-size: 20px;
}

footer .botones i{
  padding: 5px;
}

footer p{
  align-self: flex-end;
  font-size: 10px;
}

/*------------------inicio del home--------------------------------------------------*/
.columnas{
display: flex;
}

.talleres{
  width: 48%;
  padding-right: 10px;
  box-sizing: border-box;
}

.taller{
  font-size: 18px;
  font-style: italic;
  padding: 10px;
}

.taller a{
  text-decoration: none;
  color: #9968B6;
}

.turnos{
 width: 48%;
 display: flex;
 
 
}

.turnos_presenciales{
  width: 70%;
}

.turnos .turnos_presenciales img{
  width: 250px;
  margin: 18px 5px;
  padding: 0;
  border-radius: 5px
}

.turnos_otros{
  width: 70%;
}

.turnos .turnos_otros img{
  width: 250px;
  margin: 18px 5px;
  border-radius: 5px
}


.turnos figure {
  margin: 0;
  position: relative;
  
}

.turnos figure figcaption {
  width: auto;
  padding: 15px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  bottom: 25px;
  left: 15px;
}
.turnos figure figcaption a{
  color: white;
  text-decoration: none;
}

.turnos figure:hover figcaption {
  background: black;
}

/*------------------fin del home--------------------------------------------------*/
/*------------------inicio del media queries--------------------------------------------------*/

@media (max-width: 700px){
  .columnas{
    display: flex;
    flex-direction: column;
    }

    .talleres{
      width: 100%;
    }

    .turnos{
      width: 100%;
    }

    header h1 {
      color: black;
      font-size: 30px;
      bottom: 30px;
      margin-left: 15px;
    }
     
    header img{
      width: 96px;
    }

    nav ul li a {
      font-size: 13px;
    }
}